{% extends "base.html" %}
{% load static %}
{% block content %}
  {#	<section id="advertisement">#}
  {#		<div class="container">#}
  {#			<img src="images/shop/advertisement.jpg" alt="" />#}
  {#		</div>#}
  {#	</section>#}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          {% include 'left-sidebar.html' %}
        </div>

        <div class="col-sm-9 padding-right">
          <div class="features_items"><!--features_items-->
            <h2 class="title text-center">All Available Items</h2>
            {% for product in products %}
              <div class="col-sm-4">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="{{ product.preview_image.url }}" alt=""/>
                      <h2>€{{ product.price }}</h2>
                      <p>{{ product.name }}</p>
                      <a href="{% url 'product-detail' product.id %}" class="btn btn-default add-to-cart">
                        <i class="fa fa-eye"></i>
                        View details
                      </a>
                    </div>
                    <div class="product-overlay">
                      <div class="overlay-content">
                        <h2>€{{ product.price }}</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="{% url 'product-detail' product.id %}" class="btn btn-default add-to-cart">
                          <i class="fa fa-shopping-cart"></i>
                          View details
                        </a>
                      </div>
                    </div>
                  </div>
                  {#                  <div class="choose">#}
                  {#                    <ul class="nav nav-pills nav-justified">#}
                  {#                      <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>#}
                  {#                      <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>#}
                  {#                    </ul>#}
                  {#                  </div>#}
                </div>
              </div>

            {% endfor %}

            <ul class="pagination">
              <li class="active"><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">&raquo;</a></li>
            </ul>
          </div><!--features_items-->
        </div>
      </div>
    </div>
  </section>

{% endblock %}